@font-face {
  font-family: lumberjack;
  src: url(LumberjackInlineRough.otf); }
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  border-bottom: solid black 1px;
  background-color: black;
  opacity: .8;
  z-index: 99;
  font-family: 'lumberjack'; }
  nav a {
    display: block;
    text-decoration: none;
    color: white; }
  nav ul {
    padding-left: 0; }
  nav li {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    height: 50px;
    padding: 12px 0 0 0;
    list-style-type: none;
    display: inline-block;
    width: 16.1vw;
    text-align: center;
    font-size: 20px;
    color: white; }
  nav li:hover {
    background-color: gray; }
    nav li:hover a {
      color: orange; }

.sidebar {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  width: 30vw;
  background-color: gray;
  float: right;
  height: 100vh;
  border-bottom: 1px solid black; }

.mainContent {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  width: 70vw;
  background-color: lightgray;
  height: 100vh;
  border-bottom: 1px solid black; }

#hello {
  margin-bottom: 0;
  font-family: 'lumberjack'; }

#helloContent1 {
  clear: both;
  font-size: 50px;
  color: white;
  position: absolute;
  text-align: center;
  padding-top: 250px;
  display: none;
  margin: 0 auto;
  width: 100%; }

#videoContainer {
  margin-bottom: 0;
  padding-bottom: 0; }

#helloContent2 {
  clear: both;
  font-size: 50px;
  color: white;
  position: absolute;
  text-align: center;
  padding-top: 300px;
  display: none;
  margin: 0 auto;
  width: 100%; }

.fillWidth {
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  padding-top: 0;
  z-index: -1000; }

#about {
  margin-top: -5px;
  height: 100vh;
  font-family: 'lumberjack'; }

#aboutSidebar {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding: 60px 15px 0 5px;
  text-align: center; }

#skillsSidebar {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding: 60px 15px 0 25px;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  background-color: #1B2B34;
  overflow-y: auto; }

#skillsContent {
  padding-top: 60px;
  background-color: #bbbcbf; }

#skillsChart {
  margin: 0 auto;
  max-width: 45vw;
  max-height: 90vh; }

#projectsSidebar {
  padding-top: 60px;
  font-family: 'lumberjack';
  background-color: #292633;
  color: white; }

#prevArrow {
  background-color: #2196F3;
  padding: 20px;
  float: left;
  width: 25px;
  height: 25px;
  opacity: 0.85;
  text-align: center; }

#nextArrow {
  background-color: #F44336;
  padding: 20px;
  float: right;
  width: 25px;
  height: 25px;
  opacity: 0.85;
  text-align: center; }

.projectTitle {
  text-align: center;
  font-size: 30px;
  padding-top: 10px; }

.projectDescribe {
  clear: both;
  margin: 30px 10px 0px 10px; }
  .projectDescribe h1 {
    border-bottom: 1px solid white;
    font-size: 20px; }
  .projectDescribe a {
    color: #4286f4; }
  .projectDescribe a:hover {
    color: pink; }

.project {
  padding-top: 60px; }

.languages {
  font-size: 20px;
  display: inline-block;
  padding: 4px;
  margin-right: 3px;
  margin-top: 3px;
  border: 1px solid #4286f4;
  border-radius: 6px;
  background-color: rgba(66, 134, 244, 0.5); }

.carousel {
  max-width: 1000px;
  position: relative;
  margin: auto; }
  .carousel img {
    max-width: 25%; }

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; }

.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
